/* DISCLAIMER *****************************************************************/

.disclaimer {
  padding: 10px;
  margin-top: 10px;

  @media only screen and (max-width: #{$global-breakpoint}) {
    margin: 0 auto !important;
    max-width: 350px !important;
  }

  .intro {
    font-size: 12px;
    margin: 0 !important;
    opacity: 0.7;
  }
}

/* HEADER *********************************************************************/

.header-email {
  padding: 50px 50px 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  background-repeat: no-repeat;

  @media only screen and (max-width: #{$global-breakpoint}) {
    padding: 20px !important;
    margin-bottom: 15px !important;
    max-width: 350px !important;
  }

  h1 {
    margin-bottom: 46px;
    max-width: 420px;
    font-size: 31px;
    font-weight: bolder;

    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 20px 20px 20px 0 !important;
      font-size: 22px !important;
    }
  }

  .logo {
    padding: 0 0 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding: 20px !important;
    }

  }

  p {
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.8;
    line-height: 25px !important;
  }
}

.slice-bottom {
  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 350px !important;
    margin: -16px auto 0;
  }
}

.slice-top {
  margin: 30px 0 0 0;

  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 350px !important;
    margin: 30px auto 0 !important;
  }
}

/* CARDS **********************************************************************/

.event-details {
  background-color: white;
  border-radius: 3px;
  margin: 20px 20px 0;
  box-sizing: border-box;

  @media only screen and (max-width: #{$global-breakpoint}) {
    margin: 20px auto 0 !important;
    max-width: 350px !important;
  }

  .card-content-1 {
    background-image: url('https://raw.githubusercontent.com/lewagon/www-images/master/newsletter/content-videos.png');
  }

  .card-content-2 {
    background-image: url('https://raw.githubusercontent.com/lewagon/www-images/master/newsletter/content-ressources.png');
  }

  .card-content-1,
  .card-content-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 176px !important;
    border-radius: 3px 3px 0 0;
  }

  h2 {
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
    padding: 20px 20px 10px;
  }

  .card-info {
    display: flex;
    align-items: center;
    padding: 0 20px 16px;

    .emoji {
      font-size: 26px;
    }

    p {
      padding: 0 0 0 15px;
      margin: 0 !important;
      font-size: 16px;
      line-height: 25px !important;
      font-weight: lighter;
    }
  }
}



//Event button

.call-to-action {
  background-color: #D23333;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 12px 40px;
  text-align: center;
  border-radius: 0px 0px 3px 0px;

  @media only screen and (max-width: #{$global-breakpoint}) {
    border-radius: 0px 0px 3px 3px !important;;
  }
}

a.call-to-action {
  display: block;
  margin-top: 16px;
}

.call-to-action:hover {
  color: white;
  background-color: red;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

/* HOST SECTION ***************************************************************/

.host-section {
  padding: 25px 40px 50px 40px;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;

  @media only screen and (max-width: #{$global-breakpoint}) {
    max-width: 350px !important;
  }

  img {
    margin: 0 auto;
  }

  h2 {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 14px !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 22px !important;
      padding: 16px 10px 0 10px !important;
      text-align: center !important;
    }
  }

  p {
    margin-bottom: 16px !important;
    font-size: 16px;
    line-height: 25px !important;
    font-weight: lighter;

    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
    }
  }
}

.link-to-meetup {
  img {
    width: 9px;
    height: 9px;
    margin-left: 5px;
    display: inline;
  }

  p {
    font-weight: bolder;
    font-size: 16px;
    line-height: 25px !important;
  }

  a {
    font-weight: bolder;
    font-size: 16px;
    color: black;

    &:hover {
      color:black;
    }
  }
}

/* FOOTER *********************************************************************/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto 60px !important;
  background-color: #4a4a4a;
  box-sizing: border-box;

  @media only screen and (max-width: #{$global-breakpoint}) {
    max-width: 350px !important;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;
  height: 17px;

  img {
    margin-left: 10px;
  }
}
