p.intro {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.7;
}

//Header

.header-email {
  background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/background-header-content.png);
  height: 475px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/background-header-content-mobile.png) !important;
    height: 415px;
    margin-bottom: 15px;
  }
  background-repeat: no-repeat;
  padding: 50px 20px 20px 20px;
  h1 {
    font-weight: bolder;
    font-size: 31px;
    margin: 0 15px 30px 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 20px !important;
    }
  }
  p {
    font-weight: lighter;
    font-size: 16px;
    margin: 15px 15px 0 15px;
    opacity: 0.8;
    line-height: 25px !important;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 13px !important;
    }
  }
}

// Cards

.event-details {
  background-color: white;
  border-radius: 3px;
  margin: 0 20px 20px 20px;
  .event-cover-1 {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/video-cover836.png);
    @media only screen and (max-width: #{$global-breakpoint}) {
      background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/video-cover904.png) !important;
      padding-top: 130px !important;
    }
    background-repeat: no-repeat;
  }
  .event-cover-2 {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/read-cover920.png);
    @media only screen and (max-width: #{$global-breakpoint}) {
      background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/read-cover-mobile924.png) !important;
      padding-top: 130px !important;
    }
    background-repeat: no-repeat;
  }
  p {
    font-weight: lighter;
    font-size: 14px;
    margin: 15px 10px 22px 20px;
  }
  h2 {
    font-weight: bolder;
    font-size: 22px;
    margin: 22px 10px 11px 20px;
  }
}

.event-info {
  margin-left: 20px;
  margin-top: 30px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-top: 10px !important;
  }
}

.emoji-inline {
  margin-right: 10px;
}



//Event button

.call-to-action {
  background-color: #D23333;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 12px 40px;
  text-align: center;
  border-radius: 0px 0px 3px 0px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    border-radius: 0px 0px 3px 3px;
    margin-left: -20px;
    margin-right: 20px;
  }
}

a.call-to-action {
  display: block;
  margin-top: 16px;
}

.call-to-action:hover {
  color: white;
  background-color: red;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

//Host Card

.host-details {
  background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/host-background.png);
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/footer-background-mobile.png) !important;
  }
  background-repeat: no-repeat;
  padding: 90px 20px 20px 20px;
  height: 135px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    height: 260px !important;
  }
  margin-top: 25px;
  h2 {
    font-weight: bolder;
    font-size: 16px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
    }
  }
  p {
    font-weight: lighter;
    font-size: 14px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
    }
  }
  img {
    margin: 0 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: auto !important;
    }
  }
}

.link {
  img {
    width: 9px;
    height: 9px;
    margin-left: 5px;
    display: inline;
  }
  p {
    font-weight: bolder;
    font-size: 16px;
  }
  a {
    font-weight: bolder;
    font-size: 16px;
    color: black;
    &:hover {
      color:black;
    }
  }
}

//Footer

.footer {
  background-color: #4A4A4A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  p {
    color: white;
  }
  margin-left: 8px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  height: 17px;
  img {
    margin-left: 10px;
  }
}
