p.intro {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.7;
}

//Header

.header-email {
  background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/header-background.png);
  height: 500px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/header-background-mobile258.png) !important;
    height: 562px;
    margin-bottom: 20px;
  }
  background-repeat: no-repeat;
  padding: 50px 20px 20px 20px;
  h1 {
    font-weight: bolder;
    font-size: 31px;
    margin: 0 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 20px !important;
    }
  }
  h2 {
    font-weight: bolder;
    font-size: 17px;
    margin: 15px 15px 0 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 15px !important;
    }
  }
  p {
    font-weight: lighter;
    font-size: 16px;
    margin: 15px 15px 0 15px;
    opacity: 0.8;
    line-height: 25px !important;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 13px !important;
    }
  }
}

//Event Card

.event-details {
  background-color: white;
  border-radius: 3px;
  .event-cover {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/event-cover.png);
    @media only screen and (max-width: #{$global-breakpoint}) {
      background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/event-cover-mobile.png) !important;
      padding-top: 170px !important;
    }
    background-repeat: no-repeat;
  }
  p {
    font-weight: lighter;
    font-size: 14px;
  }
  h2 {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.event-info {
  margin-left: 20px;
  margin-top: 30px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-top: 10px !important;
  }
}

.date {
  display: flex;
  img {
    height: 15px;
    width: 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      height: 15px !important;
      width: 15px !important;
    }
  }
  p {
    margin-left: 10px;
  }
}

.location {
  display: flex;
  img {
    height: 15px;
    width: 12px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      height: 15px !important;
      width: 12px !important;
    }
  }
  p {
    margin-left: 10px;
  }
}

//Event button

.call-to-action {
  background-color: #D23333;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 12px 40px;
  text-align: center;
  border-radius: 0px 0px 3px 0px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    border-radius: 0px 0px 3px 3px;
  }
}

a.call-to-action {
  display: block;
  margin-top: 16px;
}

.call-to-action:hover {
  color: white;
  background-color: red;
}

//Host Card

.host-details {
  background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/host-background.png);
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-image: url(https://raw.githubusercontent.com/sandrineay/img-automated-email/master/footer-background-mobile.png) !important;
  }
  background-repeat: no-repeat;
  padding: 90px 20px 20px 20px;
  height: 135px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    height: 260px !important;
  }
  margin-top: 25px;
  h2 {
    font-weight: bolder;
    font-size: 16px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
    }
  }
  p {
    font-weight: lighter;
    font-size: 14px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
    }
  }
  img {
    margin: 0 15px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: auto !important;
    }
  }
}

.link {
  img {
    width: 9px;
    height: 9px;
    margin-left: 5px;
    display: inline;
  }
  p {
    font-weight: bolder;
    font-size: 16px;
  }
  a {
    font-weight: bolder;
    font-size: 16px;
    color: black;
    &:hover {
      color:black;
    }
  }
}

//Footer

.footer {
  background-color: #4A4A4A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  p {
    color: white;
  }
  margin-left: 8px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  height: 17px;
  img {
    margin-left: 10px;
  }
}


